{% extends 'base.html.twig' %}

{% block title %}Hello ControladorInicioController!{% endblock %}

{% block body %}
    <h1>Bienvenido a la página de inicio</h1>
    <div>
        <a href="{{ path('app_nuevo_usuario') }}">Crear Nuevo Usuario</a>
    </div>
    <div>
        <a href="{{ path('app_login') }}">Iniciar Sesión</a>
    </div>
{% endblock %}
