{% extends 'base.html.twig' %}

{% block title %}Hello ControladorInicioController!{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="d-flex justify-content-center h-100">
        <div class="card" style='width:24rem;'>
            <div class="card-header d-flex flex-column">
                <img class="img-thumbnail" src="../../logo.jpg" alt="logo"/>
                <a type="button" class="btn btn-info rounded-pill" href="{{ path('app_nuevo_usuario') }}">Crear Cuenta</a>
                <a class="btn btn-danger rounded-pill mt-2" href="{{ path('app_login') }}">Iniciar Sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
