{% extends 'base.html.twig' %}

{% block title %}Hello ControladorNuevoUsuarioController!{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="d-flex justify-content-center h-100">
        <div class="card" style='width:24rem;'>
            <div class="card-header bg-info">
                <h3><i class="fa fa-cog mr-1"></i>Registro</h3>
            </div>
            <div class="card-body">
                {{ form(form) }}
                <a href="{{ path('app_inicio') }}">Volver</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
